{% extends 'blog/base.html'%}
{% load static %}
{% block main %}
     {% for post in post_list %}
<!--                <article class="post post-{{post.pk}}">-->
<!--                    <h1 class="entry-title">-->
<!--                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>-->
<!--                    </h1>-->
<!--                    <div class="entry-meta">-->
<!--                        <span class="post-category"><a href="#">{{ post.category.name }}</a></span>-->
<!--                          <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>-->
<!--                          <span class="post-author"><a href="#">{{ post.author }}</a></span>-->
<!--                          <span class="comments-link"><a href="{{post.get_absolute_url}}#comment-area">{{post.comment_set.count}}评论</a></span>-->
<!--                          <span class="views-count"><a href="#">{{post.view}}阅读</a></span>-->
<!--                    </div>-->
<!--                    <div class="entry-content clearfix">-->
<!--                      <p>{{ post.excerpt }}</p>-->
<!--                      <div class="read-more cl-effect-14">-->
<!--                        <a href="{{post.get_absolute_url}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                </article>-->
              	<div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <div class="entry-content clearfix">
                                  <div class="read-more cl-effect-14">
                                    <a href="{{post.get_absolute_url}}" class="more-link">{{post.title}} </a>
                                  </div>
                                </div>
<!--                                <h3 class="text-center text-info">-->
<!--                                     <a href="{{post.get_absolute_url}}">{{post.title}}</a>&ndash;&gt;-->
<!--                                </h3>-->
                                <blockquote>
                                    <p>
                                       {{ post.excerpt }}
                                    </p> <small><cite>{{post.author}}</cite></small>
                                </blockquote>

                            </div>
                            <div class="col-md-4 column" id="post_label">

<!--                                 <div class="label label-info">分类：{{ post.category.name }}</div>-->
<!--                                 <div class="label label-danger">评论数：{{post.comment_set.count}}</div>-->
<!--                                <div class="label label-success ">阅读量：{{post.view}}</div>-->
<!--                                 <div class="label label-primary">创建时间：{{ post.created_time }}</div>-->
                                <div class="widget widget-tag-cloud">
                                  <ul>
                                      <li>
                                        分类：{{ post.category.name }}
                                      </li>
                                      <li>
                                        评论数：{{post.comment_set.count}}
                                      </li>
                                      <li>
                                        阅读量：{{post.view}}
                                      </li>

                                      <li>
                                        创建时间：{{ post.created_time }}
                                      </li>
                                  </ul>
                                </div>




                            </div>

                        </div>

                    </div>

	</div>


     {% empty %}
                    <div class="no-post">暂时没有文章</div>
     {% endfor%}

  <div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="pagination">
				<li>
					 <a href="1">首页</a>
				</li>
				<li>
					 <a href="{{pagePre}}">Prev</a>
				</li>
                {% for i in pageList%}
                <li>
					 <a href="{{i}}">{{i}}</a>
				</li>
                {%endfor %}

				<li>
					 <a href="{{pageNext}}">Next</a>
				</li>
                <li>
					 <a href="{{pageNum}}">末页</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock main %}





