{% extends 'blog/base.html'%}
{% load resources_extras %}
{%block main%}
	<main class="col-md-12">
		<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="alert alert-dismissable alert-warning">
				 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>
					注意!
				</h4> <strong>Warning!</strong> 一切资源收集自互联网，本人不对其合法性和真实性负责。请勿用于违法用途。如果有违规侵权内容，请联系博主立刻处理。
			</div>
			<div class="jumbotron well">
				<h1>
					公告：
				</h1>
				<p>
					最新资源：
				</p>
				{%show_recent_resources%}
				<p>如果发现链接失效，尝试联系博主</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">计算机类书籍</a>
					<a class="btn btn-primary btn-large" href="#">计算机类影视</a>
					<a class="btn btn-primary btn-large" href="#">电影和电视剧</a>
					<a class="btn btn-primary btn-large" href="#">素材/软件/游戏</a>
					<a class="btn btn-primary btn-large" href="#">技能教程</a>

				</p>
			</div>


		</div>
		</div>
		<div class="row clearfix">
		<div class="col-md-12 column">
			<p class="text-success ">
				用户{{username}}已经登陆。
			<p class="text-warning ">
				 <a class="btn" href="/quit">注销»</a>
			</p>
		</div>
	</div>
			{%show_resources%}
		<div>
			<p><h2>分享你的资源</h2></p>
		</div>
			{%show_submit%}
	</main>
{% endblock main%}


